@import "./_variables";
@import "./_common";

html{
  font-size: calc(0.6em + 1vw);
}

body{
  font-family: 'Manrope', sans-serif;
  margin: 0px;
}

h1{
  font-size: 4.5rem;
  font-weight: bold;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 1.5rem;
}


.main-nav{
  padding: 3.125em 0px 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .menu-button{
    color: $accent-color;
    background-color: $background-secondary;
    border: 0px;
    font-size: 2rem;
    border-radius: 5px;
    margin-left: 5px;
  }

  &.visible-menu{
    .main-nav__menu{
      display: flex;
      position: absolute;
      top: 100px;
      width: 100%;
    }

    .main-nav__list{
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .main-nav__item{
      background-color: $background-secondary;
      margin: 0px;
      width: 100%;
    }
    
    .main-nav__link{
      padding: 10px;
      width: 100%;
      display: inline-block;
      &:hover, &:active{
        color: $accent-color;
      }
    }
  }

  &__menu{
    display: none;
    align-items: center;
    flex: 1;
  }
  &__logo{
    height: 2.5rem;
    text-align: center;
    img{
      padding-top: 5px;
    }
  }
  &__list{
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    font-size: 14px;
  }
  &__item{
    display: inline;
    margin: 0px 15px;
  }
  &__link{
    color: $text-color;
    text-decoration: none;
    cursor: pointer;
  }
  &__buttons{
    flex: 1;
    display: none;
    text-align: right;
    .sign-in{
      color: $text-color;
      margin-right: 30px;
    }
  }
}

.hero{
  overflow-x: hidden;

  &__data{
    margin-top: 0px;
    margin-bottom: 5rem;
  }
  &__title{
    margin-top: 0px;
    margin-bottom: 1.25rem;
  }
  &__description{
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.125rem;
    line-height: 2rem;
  }
  &__image img{
    width: 100%;
  }

}

.companies{
  margin-top: 2rem;
  &__title{
    margin-bottom: 1rem;
  }
  &__description{
    font-size: 1.125rem;
    margin-top: 0.5rem;
  }
  &__picture{
    width: 100%;
  }
}

.features{
  margin-bottom: 2rem;
  .feature-card{
    margin-bottom: 2rem;
    &__title{
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    &__description{
      margin-top: 0.5rem;
    }
    &__link{
      color: $accent-color;
      font-weight: bold;
    }
    .link-arrow{
      position: relative;
      top: 2px;
    }
  }
}

.quote{

  background-color: $quote-main;
  text-align: center;

  .carousel-container{
    max-width: 1200px;
    margin: auto;
    padding: 0px 2.5rem;
    .carousel{
    &::after{
      display: block;
      content: ' ';
      background-image: url('/assets/quotation.png');
      background-size: 4.375rem 3.75rem;
      height: 3.75rem;
      width: 4.375rem;
      top: 7.1875rem;
      opacity: 0.4;
      left: -2.1875rem;
      position: absolute;
    }
  }
  }
  &__text{
    font-size: 1.125rem;
    line-height: 2rem;
  }

  &__container{
    padding-top: 9rem;
    text-align: left;
    
  }
  
  &__image{
    text-align: center;
    max-width: 100%;
    padding-top: 5rem;
    margin: auto;
  }

  .slick-dots{
    position: absolute;
    left: 0;
    top: 50px;
    text-align: left;
    li{
      margin-right: 1px;
      button:before{
        color: #bbb;
        font-size: 12px;
        &:hover{
          color: $quote-accent;
        } 
      }
      &.slick-active button:before{
        color: $quote-accent;
      }
    } 

  }

  &__dot{
    &-item {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 4px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      &:hover{
        background-color: #717171;
      }
    }
  }

  &__author{
    color: $quote-accent;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 3rem;
  }
  &__position{
    margin-top: 0.5rem;
  }
  
  .active, .dot:hover {
    background-color: $quote-accent;
  }
  
}


.stats{
  .stats-item{
    &__title{
      font-weight: bold;
      font-size: 3rem;
      margin-bottom: 0px;
    }
    &__description{
      margin-top: 1rem;
      align-items: center;
      display: flex;
      margin-top: 0px;
      img{
        margin-right: 0.5rem;
        height: 2rem;
        width: 2rem;
      }
    }
  }
}

.our-apps{
  margin-bottom: 8rem;
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  margin-top: 6rem;
  &__picture{
    width: 100%;
  }
  &__info{
    margin-bottom: 3rem;
  }
  &__title{
    margin-top: 0px;
    margin-bottom: 0.5rem;
  }
  &__description{
    line-height: 2rem;
  }
  &__link{
    color: $accent-color;
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.newsletter{
  background: url(/assets/newsletter-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  
  &__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 950px;
    margin: auto;
    padding: 20px 20px;
  }
  &__picture{
    max-height: 160px;
    max-width: 170px;
    padding-right: 20px;
  }

  &__info{
    max-width: 600px;
    margin: 30px 0px;
  }
  &__title{
    color: $text-color-secondary;
    font-size: 2.5rem;
    margin-top: 0px;
  }
  &__button-container{
    display: flex;
    flex-direction: column;
  }

  &__description{
    height: 50px;
    max-width: 100%;
    padding-left: 10px;
    border-radius: 5px;
    border: 0px;
    font-size: 0.875rem;
  }

}

footer{
  background-color: $footer-background;
  margin-top: 64px;
  .footer-bar{
    padding-top: 30px;

    &__list{
      list-style-type: none;
      margin: 0px;
      padding-left: 0px;
    }
    &__item{
      margin-bottom: 10px;
      &--apps{
        margin-bottom: 20px;
      }
    }
    &__title{
      color: $footer-title-color;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.125rem;
      margin-top: 50px;
    }
    &__link{
      color: $footer-text-color;
      text-decoration: none;
      font-weight: 400;
      font-size: 0.875rem;
    }

  }

  .footer-details{
    margin-top: 50px;
    padding-bottom: 30px;
    &__copyright{
      color: $footer-copyright-color;
      font-size: 0.875rem;
      font-weight: 400;
    }
    &__social-item{
      margin-right: 20px;
    }
  }

}

@import "./_responsive";
