.features{
  margin-bottom: 2rem;
  .feature-card{
    margin-bottom: 2rem;
    &__title{
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    &__description{
      margin-top: 0.5rem;
    }
    &__link{
      color: $accent-color;
      font-weight: bold;
      text-decoration: none;
    }
    .link-arrow{
      position: relative;
			top: 1px;
			padding-left: 5px;
    }
		@media (min-width: 768px) {
			padding-right: 2.825rem;
			flex-basis: 33%;
		}
  }
	@media (min-width: 768px) {
    &__container{
			display: flex;
		}
  }
}