
.our-apps{
  margin-bottom: 8rem;
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
		@media (min-width: 768px) {
			display: flex;
      flex-direction: row;
		}
  }
  margin-top: 6rem;
  &__picture{
    width: 100%;
		@media (min-width: 768px) {
			padding-right: 5em;
		}
  }
  &__info{
    margin-bottom: 3rem;
		@media (min-width: 768px) {
			order: 1;
			max-width: 27.75rem;
		}
  }
  &__title{
    margin-top: 0px;
    margin-bottom: 0.5rem;
		@media (min-width: 768px) {
			font-size: 2.5em;
		}
  }
  &__description{
    line-height: 2rem;
    font-size: 1.125rem;
    margin: 2rem 0px;
  }
  &__link{
    text-decoration: none;
    small{
      color: $accent-color;
      font-size: 1.25rem;
      font-weight: 600;
    }
		img{
			position: relative;
			bottom: 2px;
			left: 5px;
		}
  }
	@media (min-width: 768px) {
    margin-top: 6em;
	}
}