
@media (min-width: 768px) {


  footer{
    .footer-bar{
      display: flex;
      justify-content: space-between;
  
    }

    .footer-details{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5rem;
      &__social-item{
        margin-right: 0px;
        margin-left: 20px;
      }
    }
  
  }
  
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
  .newsletter{
    background: url(/assets/images/2x/newsletter-bg@2x.png) no-repeat;
    background-position: center;
    background-size: cover;
  }
}