.stats{
	.stats-item{
		&__title{
			font-weight: bold;
			font-size: 3rem;
			margin-bottom: 0px;
		}
		&__description{
			margin-top: 1rem;
			align-items: center;
			display: flex;
			margin-top: 0px;
			img{
				margin-right: 0.5rem;
				height: 2rem;
				width: 2rem;
			}
		}
		@media (min-width: 768px) {
			width: calc(100%/3);
		}
	}
	@media (min-width: 768px) {
		.container{
      display: flex;
		}
	}
}