$background-secondary:#F1E4FF;
$accent-color: #8C30F5;

$text-color: #18191F;
$text-color-secondary: #FFFFFF;
$quote-main: #D5FAFC;
$quote-accent: #2EC5CE;

$store-button-bg-color: #000000;
$store-button-border-color: #A6A6A6;

$newsletter-button-color: #18191F;
$newsletter-text-color: #FFFFFF;
$footer-background: #18191F;
$footer-title-color: #F4F5F7;
$footer-text-color: #EEEFF4;
$footer-copyright-color: #D9DBE1;
$border-copyright-color: #FFFFFF;
